<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/signUpSuccess.css" />
    <link rel="stylesheet" href="./styles/mobile/signUpSuccess.css" media="screen and (min-width:320px) and (max-width:425px)"/>
    link(href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Noto+Serif&display=swap" rel="stylesheet")
    <title>CityFans</title>
  </head>
  <body>
    <div id="container">
      <div id="heading">
        h1 #{message.heading}
      </div>
      p#message #{message.msg}
      <div id="login">
        <a href="/login">Go back to login</a>
      </div>
    </div>
  </body>
</html>
