* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c013b;
}

#container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 92%;
  border-left: 2px solid #dbf315;
  margin: 20px 0 20px 71px;
  box-shadow: -7px 0px 3px -3px white;
  padding: 15px 15px;
  box-sizing: border-box;
}

.awards {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  padding: 15px 10px 15px 66px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 250px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  height: fit-content;
  width: 590px;
  border: 1px solid none;
  font-size: 40px;
  letter-spacing: 3px;
  color: aliceblue;
  font-family: "Rubik Doodle Shadow", sans-serif;
  line-height: 54px;
}

.info {
  display: flex;
  height: fit-content;
  width: 629px;
  align-items: center;
  justify-content: center;
  text-align: justify;
  border: 1px solid none;
  color: #b1bf49;
  letter-spacing: 2px;
  word-spacing: 2px;
  box-sizing: border-box;
  padding: 25px 30px 0 0;
}

.doe {
  display: flex;
  height: 40px;
  width: 140px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: yellow;
  background-color: rgba(93, 187, 216, 0.664);
  border: 3px solid rgb(13, 2, 78);
  text-shadow: -2px 2px red;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  left: -83px;
  top: 267px;
}

.img {
  display: flex;
  height: 422px;
  width: 507px;
  border: 1px solid none;
  position: relative;
}

.img img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#container .awards:nth-child(7) {
  margin-bottom: 0px;
}
