* {
  margin: 0;
  padding: 0;
}

/* Header  */
#pageHeader {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  background: repeating-linear-gradient(0deg, #3838d7, lightblue, #3838d7);
  position: relative;
}

#pageHeader h1 {
  color: #3c0869;
  font-family: auto;
  font-size: 96px;
  position: absolute;
  left: 92px;
}

/* Players section  */

#players {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  padding: 20px 5px 30px 5px;
  box-sizing: border-box;
  border: 1px solid none;
  /* align-items: center; */
}

.playerCategory {
  display: flex;
  min-height: 400px;
  height: fit-content;
  width: 94%;
  border: 1px solid none;
  flex-direction: column;
  padding: 15px 15px;
  box-sizing: border-box;
  margin-left: 77px;
}

.title {
  display: flex;
  height: 100px;
  width: fit-content;
  border: 1px solid none;
  align-items: center;
  font-size: 45px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #645fb1;
  font-weight: bold;
  margin-bottom: 20px;
}

.players {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 62px;
  height: fit-content;
  min-height: 300px;
  padding: 20px;
  border: 1px solid none;
}

.player {
  display: flex;
  height: 270px;
  width: 250px;
  border: 1px solid rgb(107, 207, 152);
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.coverPic {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 202px;
  border: 1px solid none;
  flex-direction: column;
  position: relative;
  background: radial-gradient(#1212b9, white, #2828b7);
}

.coverPic img {
  height: 184px;
  width: 170px;
}

.coverPic .number {
  display: flex;
  height: 50px;
  width: fit-content;
  border: 1px solid none;
  align-items: center;
  justify-content: end;
  padding-right: 6px;
  box-sizing: border-box;
  color: #caff00;
  color: rgb(198 237 253);
  text-shadow: 2px 3px red;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  font-family: "Nunito", sans-serif;
}

.name {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  color: #090358;
  font-size: 23px;
  font-weight: bold;
  font-family: "Nunito";
}

.coverPic .flag {
  display: flex;
  height: 33px;
  width: 32px;
  position: absolute;
  left: 7px;
  bottom: 5px;
  border: 1px solid #ede8e8;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.playerInfo {
  display: none;
  height: 201px;
  width: 100%;
  flex-direction: column;
  background-color: rgb(0 0 0 / 66%);
  padding: 10px 15px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 200px;
  padding: 0 5px;
  border: 1px solid none;
}

.statTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 100%;
  color: aliceblue;
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 2px solid rgb(166, 166, 224);
}

.stats ul {
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  border: 1px solid none;
}

.items {
  display: flex;
  height: 23px;
  border-bottom: 1px solid aliceblue;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: row;
}

.itemKey {
  color: #a9cbe1;
  font-size: 17px;
  font-family: "Nunito", sans-serif;
}

.itemValue {
  color: #f9ff00;
  font-weight: bold;
  font-size: 23px;
}

.social {
  display: flex;
  flex-direction: column;
  height: 52px;
  width: 200px;
  border: 1px solid none;
  margin-top: 10px;
  box-sizing: border-box;
}

.socialTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: fit-content;
  color: aliceblue;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 2px solid rgb(166, 166, 224);
  margin-bottom: 5px;
  margin-left: 5px;
}

.media {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 200px;
  border: 1px solid none;
}

.mediaBox {
  display: inline-flex;
  margin: 0 10px;
  height: fit-content;
  width: fit-content;
}

.social a {
  text-decoration: none;
}

.social a i {
  font-size: 1.2rem;
  color: #aed2dd;
}

.social a i:hover {
  color: #8a60d8;
}
